#top-bar {
    background-color: rgb(75, 75, 75);
}

#center-top-bar-div {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0 auto;
    padding: 20px;
}

#button-div {
    margin: 0 auto;
    display: flex;
    width: 30%;
}

#add-node-button {
    width: 50%;
    background-color: aqua;
}

#next-button {
    width: 50%;
    background-color: lightgreen;
}

#text-space {
    margin: 0 auto;
    color: azure;
    font-size: 20px;
}

#nodes-div {
    position: relative;
    background-color: rgb(121, 121, 121);
    height: 500px;
}

#bottom-bar {
    background-color: black;
}