html, body {
    width: 100%;
    margin: 0px;
    height: 100%;
}

@font-face {
    font-family: azonix;
    src: url(./Azonix.otf)
}

p{
    text-align: center;
}

h1{
    text-align: center;
    font-family: azonix;
    font-size: 50px;
}

h2{
    text-align: center;
    font-family: azonix;
    font-size: 30px;
}

#top-bar {
    background-color: rgb(75, 75, 75);
}

#center-top-bar-div {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0 auto;
    padding: 20px;
}

#button-div {
    margin: 0 auto;
    display: flex;
    width: 30%;
}

#add-node-button {
    width: 50%;
    background-color: aqua;
}

#next-button {
    width: 50%;
    background-color: lightgreen;
}

#text-space {
    margin: 0 auto;
    color: azure;
    font-size: 20px;
}

#nodes-div {
    position: relative;
    background-color: rgb(121, 121, 121);
    height: 500px;
}

#bottom-bar {
    height: 50px;
    background-color: rgb(221, 135, 23);
    z-index: 0;
}

#bottom-bar-text {
    padding: 15px;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}