html, body {
    width: 100%;
    margin: 0px;
    height: 100%;
}

@font-face {
    font-family: azonix;
    src: url(./fonts/Azonix.otf)
}

@font-face {
    font-family: ptSans;
    src: url(./fonts/PT_Sans-Web-Regular.ttf)
}

p{
    text-align: center;
    color: white;
    font-family: ptSans;
}

a {
    text-align: center;
    color: white;
    font-family: ptSans;
}

h1{
    text-align: center;
    font-family: azonix;
    font-size: 50px;
    color: white;
}

h2{
    text-align: center;
    font-family: azonix;
    font-size: 30px;
    color: white;
}

svg {
    position: relative;
    z-index: 1;
}

button {
    border-radius: 20px;
    background-color:rgb(0, 140, 255);
    color: black;
    box-shadow: none;
    cursor: pointer;
    font-family: ptSans;
    font-size: 18px;
    border-style: 0px solid;
    border-color: rgb(109, 182, 0);
    outline: none;
}

button:hover {
    background-color: rgb(69, 171, 255);
}

#top-bar {
    background-color: rgb(32, 32, 32);
}

#center-top-bar-div {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0 auto;
    padding: 20px;
}

#button-div {
    margin: 0 auto;
    display: flex;
    width: 50%;
    padding-bottom: 15px;
    height: 50px;
}

#add-node-button {
    width: 50%;
    margin: 1%;
}

#next-button {
    width: 50%;
    margin: 1%;
}

#play-again-button {
    width: 50%;
    margin: 1%;
    position: relative;
    top: 0%;
    left: 27%;
}

#text-space {
    margin: 0 auto;
    color: azure;
    font-size: 20px;
}

#nodes-div {
    margin: 0;
    position: relative;
    background-color: rgb(63, 63, 63);
    height: 500px;
}

#information-section {
    margin: 0;
    padding: 20px;
    background-color:  rgb(32, 32, 32);
}
#bottom-bar {
    display: flex;
    margin: 0 auto;
    height: 70px;
    width: 100%;
    background-color: rgb(0, 140, 255);
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-family: ptSans;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

li {
    display: inline;
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

#github-link:hover {
    color: white
}




@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}